

textarea{
  width: 100%;
background-color: transparent;
border-top: 0;
border-right: 0;
border-left: 0;
border-bottom: 5px solid black;
}

.character-count{
  display:flex;
  justify-content: space-between;
}

.tweet-button{
  color:white;
  background-color:blue;
}

.error-message{
  padding: 5px 0;
  color: red;
}